<section id="banner"
    style="height: 600px; min-height: 100%; background-image: url('/images/first_about_banner.png');
    background-size: cover; background-repeat: no-repeat;
    background-position: center; width: 100%;">
    <div class="container">
        <div class="row">
            <div class="col-md-5 offset-md-5" style="padding-top: 100px;">
                <h6 style="color: #99bfbc;">THE WHAT</h6>
                <h2 class="white">A new, "mobile-only" pharmacy experience</h2>
                <p style="margin-top: 30px; color: #99bfbc;" class="bold roboto">
                    Commuting sucks. We get it. Traveling to work, to the supermarket
                    or to that coworker's cousin's housewarming party, is already
                    enough, so why travel to drugstores as well?
                </p>
                <p style="margin-top: 15px; color: #99bfbc;" class="bold roboto">
                    Senzzu provides a faster, more convenient way to transfer,
                    drop off, pickup and pay for prescriptions. Our platform
                    lets patients search for pharmacies close to them, upload
                    prescriptions at the click of a button, and get their meds
                    delivered within minutes.
                </p>
                <p style="margin-top: 35px; color: #99bfbc;" class="bold roboto">
                    How's that for convenience?
                </p>
            </div>
        </div>
    </div>
</section>

<section id="banner"
    style="height: 600px; min-height: 100%; background-image: url('/images/second_about_banner.png');
    background-size: cover; background-repeat: no-repeat;
    background-position: center; width: 100%;">
    <div class="container">
        <div class="row">
            <div class="col-md-5 offset-md-2" style="padding-top: 100px;">
                <h6 style="color: #99bfbc;">THE WHY</h6>
                <h2 class="theme-color">A new, "mobile-only" pharmacy experience</h2>
                <p style="margin-top: 30px; color: #99bfbc;" class="bold roboto">
                    Commuting sucks. We get it. Traveling to work, to the supermarket
                    or to that coworker's cousin's housewarming party, is already
                    enough, so why travel to drugstores as well?
                </p>
                <p style="margin-top: 15px; color: #99bfbc;" class="bold roboto">
                    Senzzu provides a faster, more convenient way to transfer,
                    drop off, pickup and pay for prescriptions. Our platform
                    lets patients search for pharmacies close to them, upload
                    prescriptions at the click of a button, and get their meds
                    delivered within minutes.
                </p>
                <p style="margin-top: 35px; color: #99bfbc;" class="bold roboto">
                    How's that for convenience?
                </p>
            </div>
        </div>
    </div>
</section>