<section id="about-banner1"
    style="height: auto; min-height: 100%; max-height: auto; background-image: url('/images/first_about_banner.png');
    background-size: cover; background-repeat: no-repeat;
    background-position: center; width: 100%;">
    <div class="container">
        <div class="row">
            <div class="col-md-5 offset-md-5 the-what" style="padding-top: 100px; padding-bottom: 100px;">
                <h6 style="color: #99bfbc;">THE WHAT</h6>
                <h2 class="white">A new, "mobile-only" pharmacy experience</h2>
                <p style="margin-top: 30px; color: #99bfbc;" class="bold roboto">
                    Commuting sucks. We get it. Traveling to work, to the supermarket
                    or to that coworker's cousin's housewarming party, is already
                    enough, so why travel to drugstores as well?
                </p>
                <p style="margin-top: 15px; color: #99bfbc;" class="bold roboto">
                    Senzzu provides a faster, more convenient way to transfer,
                    drop off, pickup and pay for prescriptions. Our platform
                    lets patients search for pharmacies close to them, upload
                    prescriptions at the click of a button, and get their meds
                    delivered within minutes.
                </p>
                <p style="margin-top: 35px; color: #99bfbc;" class="bold roboto">
                    How's that for convenience?
                </p>
            </div>
        </div>
    </div>
</section>

<section id="about-banner2"
    style="height: 100%; min-height: 100%; max-height: 100%; background-image: url('/images/second_about_banner.png');
    background-size: cover; background-repeat: no-repeat;
    background-position: center; width: 100%;">
    <div class="container">
        <div class="row">
            <div class="col-md-5 offset-md-2" style="padding-top: 100px; padding-bottom: 100px;">
                <h6 style="color: #99bfbc;">THE WHY</h6>
                <h2 class="theme-color">Getting your meds should be a hassle-free process</h2>
                <p style="margin-top: 30px; color: #99bfbc;" class="bold roboto">
                    At Senzzu, we believe that you shouldn't have to wait or
                    travel to get your medications, which is why our technology
                    aims to change the old way of doing this whole "pharmacy" thing.
                    We want to be your own personal pharmacy assistant.
                </p>
                <button class="btn btn-primary box-shadow height-55 home-30-day-trial add-margin-top" style="margin-top: 20px; padding-left: 15px; padding-right: 15px;"
                    data-toggle="modal" data-target="#shopperAuthentication">
                    Get started now
                </button>
            </div>
        </div>
    </div>
</section>

<section id="about-banner3"
    style="height: 100%; min-height: 100%; max-height: 100%; background-image: url('/images/third_about_banner.png');
    background-size: cover; background-repeat: no-repeat;
    background-position: center; width: 100%;">
    <div class="container">
        <div class="row">
            <div class="col-md-5 offset-md-5" style="padding-top: 100px; padding-bottom: 100px;">
                <h6 style="color: #314399;">THE WHO</h6>
                <h2 class="white">The folks at Senzzu care about you and your experience</h2>
                <p style="margin-top: 30px; color: #314399;" class="bold roboto">
                    Our team is made up of pharmacists, techs, and software engineers
                    with several years of experience under their belt. Our expertise
                    allows us to understand and sympathize with your frustrations,
                    in order to provide you with the quality service you deserve.
                </p>
            </div>
        </div>
    </div>
</section>