<style>
    .navbar {
        /*background-image: url('https://s3.us-east-2.amazonaws.com/senzzu/navbar_banner.png') !important;*/
        background-color: #fff !important;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        border-bottom: none;
    }
    
    body, html {
        padding: 0 !important;
        margin: 0 !important;
        height: 100% !important;
    }
</style>

<section id="banner"
    style="height: 600px; min-height: 100%; background-image: url('/images/home_banner.png');
    background-size: cover; background-repeat: no-repeat;
    background-position: center; width: 100%;">

    <div class="container">
        <section id="search" class="row" style="padding-top: 60px; margin-bottom: 80px;">
            <div class="col-md-6 add-padding-bottom" style="">
                <h5 class="white" id="banner-text">
                    A better pharmacy experience at your fingertips.
                </h5>
                <form action="/search" method="get" id="storeSearchForm" style="margin-top: 20px;">
                    <div class="input-group mb-3" style="margin-bottom: 0 !important;">
                        <div class="input-group-prepend">
                            <button class="input-group-text prepend-group cursor-pointer border-white" id="basic-addon1">
                                <i class="fa fa-search search-input-icon"></i>
                            </button>
                        </div>
                        <input type="hidden" id="search-type" name="search_type" value="address">
                        <input class="form-control no-box-shadow store-search border-white"
                            id="store-search" name="q" placeholder="Search pharmacy by address" autocomplete="off" onfocus="showSuggestionBox();">
                        <div class="dropdown">
                            <a class="btn btn-primary white set-search-type"
                                style="height: 65px; border-top-left-radius: 0; border-bottom-left-radius: 0; border-bottom-right-radius: 2px !important;
                                padding-top: 20px;"
                                id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-angle-down bold"></i>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="margin-left: -123px;">
                                <a class="background-transparent dropdown-item cursor-pointer" onclick="setSearchType('address')">
                                    By address
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="background-transparent dropdown-item cursor-pointer" onclick="setSearchType('store')">
                                    By store name
                                </a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-5 offset-md-1" id="patientSignupForm">
                <div class="card box-shadow-amp" style="">
                    <div class="card-body" style="border-radius: 2px !important;">
                        <h4 class="theme-color" align="center">Get started for free</h4>
                        <form onsubmit="signupShopper()" id="shopperSignupForm" data-remote="true" style="margin-top: 15px;">
                            <input type="text" class="form-control add-margin-bottom" placeholder="First Name" id="signupFirstName">
                            <input type="text" class="form-control add-margin-bottom" placeholder="Last Name" id="signupLastName">
                            <input type="email" class="form-control add-margin-bottom" placeholder="Email" id="signupEmail" required="true">
                            <input type="password" class="form-control add-margin-bottom" placeholder="Password" id="signupPassword" required="true">
                            <button type="submit" class="btn btn-primary btn-block add-margin-bottom height-55 box-shadow" id="signupBtn" onclick="signupShopper()">
                                Signup**
                            </button>
                        </form>
                        <p class="font-15 add-margin-top">
                            **Several features are not yet optimized. Signup
                            for our newsletter to be alerted when we officially launch.
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>

<section class="jumbotron background-white no-border-radius" style="padding-top: 20px;">
    <div class="container">
        <div class="row">
            <div class="col-md-4 offset-md-4 text-center" style="padding-bottom: 30px;">
                <h3>Getting started is easy</h3>
                <hr style="height: 2px; background-color: #F27649; border-color: #F27649; width: 40%; margin: auto !important;">
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 how-to text-center">
                <img class="icon-image" src="/images/choose_pharmacy.png" height="175">
                <p class="font-20 bold add-margin-top">
                    <span class="badge badge-primary" style="font-size: 25px;">
                        1
                    </span>
                    Search
                </p>
                <p class="font-16 add-margin-top">
                    Choose from several drugstores and pharmacies in your neighborhood.
                    Select one store or manage several with our pharmacy management feature.
                </p>
            </div>
            <div class="col-md-4 how-to text-center">
                <img class="icon-image" src="/images/upload_prescription.png" height="175">
                <p class="font-20 bold add-margin-top">
                    <span class="badge badge-primary" style="font-size: 25px;">
                        2
                    </span>
                    Upload
                </p>
                <p class="font-16 add-margin-top">
                    Quickly snap a picture of your prescription and upload it. All
                    of your information will be securely processed and sent
                    to the selected pharmacy.
                </p>
            </div>
            <div class="col-md-4 how-to text-center">
                <img class="icon-image" src="/images/wait_delivery.png" height="175">
                <p class="font-20 bold add-margin-top">
                    <span class="badge badge-primary" style="font-size: 25px;">
                        3
                    </span>
                    Delivery
                </p>
                <p class="font-16 add-margin-top">
                    Once ready, your medication will be delivered to you within
                    minutes. You can also track the delivery status in real time using
                    our courier tracker.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="jumbotron no-border-radius" style="padding-top: 20px;">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3 text-center" style="padding-bottom: 20px;">
                <h3>Here's why you should use Senzzu</h3>
                <hr style="height: 2px; background-color: #F27649; border-color: #F27649; width: 40%; margin: auto !important;">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <section style="margin-top: 25px;">
                    <h4 class="theme-color">
                        One-click prescription upload
                    </h4>
                    <p class="add-margin-top bold">
                        No need to travel to your drugstore to drop off your
                        prescription. Simply snap a picture with your phone,
                        upload it, and it will be securely transferred to the
                        pharmacy you've selected.
                    </p>
                </section>
            </div>
            <div class="col-md-6">
                <section style="margin-top: 25px;">
                    <h4 class="theme-color">
                        Multi-pharmacy use
                    </h4>
                    <p class="add-margin-top bold">
                        On the road a lot? Senzzu makes it super easy to use multiple pharmacies
                        based on your location preferences. We also help you avoid
                        any confusion by providing you with your entire prescription history.
                    </p>
                </section>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <section style="margin-top: 30px;">
                    <h4 class="theme-color">
                        Automatic alerts and reminders
                    </h4>
                    <p class="add-margin-top bold">
                        Don't worry about missing a refill date, we've got you
                        covered! You'll receive automatic reminders about
                        upcoming refills, prescription renewals, as well as
                        important alerts regarding your health coverage.
                    </p>
                </section>
            </div>
            <div class="col-md-6">
                <section style="margin-top: 30px;">
                    <h4 class="theme-color">
                        Free, fast delivery
                    </h4>
                    <p class="add-margin-top bold">
                        All pharmacies on Senzzu have access to a reliable delivery
                        network, which guarantees that your medication is always
                        delivered pronto!
                    </p>
                </section>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <section style="margin-top: 30px;">
                    <h4 class="theme-color">
                        Automatic billing
                    </h4>
                    <p class="add-margin-top bold">
                        Once you've added a debit or credit card, all future
                        copays or OTC purchases will be automatically debited,
                        and you will receive an email confirmation.
                    </p>
                </section>
            </div>
            <div class="col-md-6">
                <section style="margin-top: 30px;">
                    <h4 class="theme-color">
                        Over the counter purchase
                    </h4>
                    <p class="add-margin-top bold">
                        Senzzu pharmacies also list their OTC inventory online,
                        which makes it easy to shop for items like medicine,
                        skincare, haircare, dental-care, baby-care, beauty products,
                        grooming, vitamins, and more. (Oh and did we mention your delivery is free?)
                    </p>
                </section>
            </div>
        </div>
    </div>
</section>

<section class="jumbotron no-border-radius background-white" style="padding-top: 20px;">
    <div class="container">
        <div class="row">
            <div class="col-md-5" style="height: 100%;">
                <div>
                    <h3>For pharmacists</h3>
                    <p style="margin-top: 20px;">
                        An artificially-intelligent patient relations management
                        system equipped with important HIPAA-compliant features
                        to help your pharmacy perform at its best.
                    </p>
                    <p style="margin-top: 20px;">
                        <i class="fa fa-angle-right theme-color bold"
                            style="margin-right: 5px;"></i>
                        Automatic med-sync
                    </p>
                    <p style="margin-top: 10px;">
                        <i class="fa fa-angle-right theme-color bold"
                        style="margin-right: 5px;"></i>
                        Prescription management
                    </p>
                    <p style="margin-top: 10px;">
                        <i class="fa fa-angle-right theme-color bold"
                        style="margin-right: 5px;"></i>
                        Real-time refill requests
                    </p>
                    <p style="margin-top: 10px;">
                        <i class="fa fa-angle-right theme-color bold"
                        style="margin-right: 5px;"></i>
                        HIPAA-compliant messaging
                    </p>
                    <p style="margin-top: 10px;">
                        <i class="fa fa-angle-right theme-color bold"
                        style="margin-right: 5px;"></i>
                        Online OTC sales
                    </p>
                    <p style="margin-top: 10px;">
                        <i class="fa fa-angle-right theme-color bold"
                        style="margin-right: 5px;"></i>
                        Real-time driver request
                    </p>
                    <button class="btn btn-primary box-shadow height-55" style="margin-top: 20px; padding-left: 15px; padding-right: 15px;"
                        onclick="window.location.href='/register-a-store'">
                        30-DAY FREE TRIAL <i class="fa fa-long-arrow-right" style="margin-left: 5px;"></i>
                    </button>
                </div>
            </div>
            <div class="col-md-7" id="for-pharmacy-images">
                <img src="/images/pharmacy_patient_show.jpg" class="box-shadow-amp"
                    height="275" style="border-radius: 2px;">
                <img src="/images/pharmacy_dashboard.jpg" class="box-shadow-amp"
                    height="275" style="border-radius: 2px; margin-top: -150px; margin-left: 50px;">
            </div>
        </div>
    </div>
</section>

<section class="jumbotron no-border-radius" id="newsletter" style="margin: 0; padding-top: 20px;">
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2 text-center" style="padding-bottom: 30px;">
                <h3>New pharmacy alerts, medications, tips and more</h3>
                <hr style="height: 2px; background-color: #F27649; border-color: #F27649; width: 20%; margin: auto !important;">
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 offset-md-4 how-to text-center">
                <div id="newsletterResponse"></div>
                <form id="newsletterSubscriptionForm" data-remote="true" action="/subscribe" method="post" onsubmit="showFormLoader();">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend theme-border">
                            <span class="input-group-text prepend-group background-white theme-border" id="basic-addon1">
                                <i class="fa fa-envelope theme-color search-input-icon"></i>
                            </span>
                        </div>
                        <input class="form-control no-box-shadow newsletter-signup theme-border"
                            id="newsletter-signup" name="email" placeholder="Sign up for our newsletter">
                        <div class="input-group-append theme-border">
                            <button class="btn btn-primary no-box-shadow" id="submitEmail" style="padding-left: 15px; padding-right: 15px;">
                                <i class="fa fa-paper-plane white"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>