<style>
    footer {
        display: none;
    }
    
    #main-body {
        padding-top: 40px;
    }
</style>

<div class="container">
    <div class="row" style="margin-bottom: 10px;">
        <div class="col-md-12 text-left" style="margin-bottom: 20px;">
            <a class="btn btn-primary box-shadow white"
                onclick="window.location.href='/shoppers/<%= params[:shopper_id] %>/dashboard'">
                <i class="fa fa-angle-left bold"></i> Dashboard
            </a>
        </div>
        <div class="col-md-12" style="margin-bottom: 20px;">
            <div class="card box-shadow no-border"
                    style="border-top-right-radius: 5px !important;
                        border-top-left-radius: 5px !important;">
                <div class="card-header">
                    <h6 class="white float-left">
                        <i class="fa fa-credit-card"></i> Billing details
                    </h6>
                </div>
                <div class="card-body" id="billing-details">
                    No billing details available
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    
    var data = {
        "type": "payments",
        "shopperID": "<%= params[:shopper_id] %>"
    };
    
    readShopperDataFromFirestore(data, "billing-details");
</script>