<nav class="navbar navbar-expand-lg main-navbar">
    <div class="container">
        <a class="navbar-brand cursor-pointer" onclick="window.location.replace('/');"><img src="/images/logo-transparent.png" alt="Senzzu" height="47"></a>
        <a id="navigatorBtn" type="button" style="display: none;" href="/"></a>
        <span id="mobile-toggle">
            <div id="shopperInfo">
                <i class="fa fa-spinner fa-pulse fa-3x fa-fw theme-color"
                    style="font-size: 30px;">
                </i>
            </div>
        </span>
        
        <div class="collapse navbar-collapse justify-content-start" id="navbarSupportedContent1">
            <ul class="navbar-nav" style="margin-left: 15px;">
                <li class="nav-item main-nav-item">
                    <a class="btn btn-link nav-link bold theme-color" onclick="window.location.href='/about'">
                        About us
                    </a>
                </li>
                <li class="nav-item main-nav-item">
                    <a class="btn btn-link nav-link bold theme-color" onclick="window.location.href='/how-to'">
                        How It Works
                    </a>
                </li>
                <li class="nav-item main-nav-item">
                    <a class="btn btn-link nav-link bold theme-color" onclick="window.location.href='/for-pharmacies'">
                        For Pharmacies
                    </a>
                </li>
            </ul>
        </div>
        
        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
            <ul class="navbar-nav navbar-links">
                <li class="nav-item">
                    <i class="fa fa-spinner fa-pulse fa-3x fa-fw theme-color"
                        style="font-size: 20px;">
                    </i>
                </li>
            </ul>
            <span id="shopperName" style="display: none;"></span>
            <span id="shopper_id" style="display: none;"></span>
            <span id="currentItemCount" style="display: none;"><%= current_cart.item_count %></span>
        </div>
    </div>
</nav>