<section class="float-right" id="main-body" style="width: 80%; padding-top: 20px; padding-bottom: 20px;">
    <div class="container" id="main-body-container">
        <%= yield %>
    </div>
</section>